/* font style */
.inter {
  font-family: "Inter", sans-serif;
}

/* shared styles */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.dark{
    color: #001931;
}
.green-bg{
    background-color: #469165;
}
.btn:hover{
    background-color: darkgoldenrod;
}


/* navbar styles */
.navbar{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 200px;
}
ul{
    display: flex;
    gap: 32px;
    font-weight: 500;
    align-items: center;
    color: #001931;
}
ul > li{
    list-style: none;
}
.nav-btn{
    border: none;
    border-radius: 4px;
    font-weight: 600;
    color: white;
    padding: 13px 16px;
}
