/* font style */
.inter {
  font-family: "Inter", sans-serif;
}

/* shared styles */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.dark{
    color: #001931;
}
.green-bg{
    background-color: #469165;
}
.green-text{
    color: #469165;
}
.btn:hover{
    background-color: darkgoldenrod;
}
.title-color{
    color: #001931;
}
.description-color{
    color: #627382;
}


/* navbar styles */
.navbar{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 200px;
}
.navbar ul{
    display: flex;
    gap: 32px;
    font-weight: 500;
    align-items: center;
    color: #001931;
}
.navbar li{
    list-style: none;
}
.nav-btn{
    border: none;
    border-radius: 4px;
    font-weight: 600;
    color: white;
    padding: 13px 16px;
}

/* hero styles */
.hero{
    background-image: url(/assets/hero-bg.png);
    width: 100%;
}
.hero-container{
    padding-top: 115px;
    padding-bottom: 180px;
}
.hero-card{
    background-color: white;
    border-radius: 1000px;
    width: 16%;
    font-weight: 500;
    padding: 8px;
    margin: 0 auto;
    display: flex;
    gap: 6px;
    justify-content: center;
    margin-bottom: 16px;
}
.hero-title{
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    color: white;
    text-align: center;
    margin-bottom: 16px;
}
.hero-description{
    color: white;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 32px;
}
.hero-buttons{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.hero-btn1{
    border: none;
    border-radius: 4px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px;
}
.hero-btn2{
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    background-color: transparent;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* notes styles */
.notes-container{
    margin-bottom: 120px;
}
.notes-heading{
    text-align: center;
    margin-bottom: 44px;
}
.notes-title{
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 16px;
    padding-top: 60px;
}
.cards-container{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.cards{
    max-width: 300px;
    height: 260px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.26);
    padding: 24px;
    text-align: center;
}
.card-pic{
    background-color: #F95555;
    padding: 14px;
    border-radius: 50%;
    margin-bottom: 16px;
}
.card-title{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
}
.card-description{
    line-height: 20px;
}

/* second brain styles */
.brain-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-bottom: 120px;
}
.brain-header{
    font-weight: 500;
    margin-bottom: 16px;
}
.brain-title{
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 16px;
}
.brain-description{
    line-height: 20px;
    margin-bottom: 50px;
}
.brain-list li{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
}

/* early access styles */
.access-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 170px;
}
.access-title{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 16px;
}
.access-description{
    line-height: 24px;
    text-align: center;
    margin-bottom: 24px;
}
.access-btn{
    border: none;
    border-radius: 4px;
    font-weight: 600;
    color: white;
    padding:16px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
}